<configuration>

    <!--콘솔창에 Log 출력-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    
    <!--HTML에 Log 출력-->
    <appender name = "htmlAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/logs.html</file> <!--로그 파일 지정-->
        <!--.Layout 설정-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout" />
        </encoder>    
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    
    <root level="debug">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="htmlAppender"/>
    </root>
</configuration>